version: '3.1'
services:
  client:
    build: './client'
    restart: always
    ports:
       - "3000:3000"
    volumes:
      - ./client:/client
      - /client/node_modules
    links:
      - api
    networks:
      - webappnetwork

  api:
    build: './api'
    restart: always
    ports:
      - "8081:8081"
    links:
      - mysqldb
    volumes:
      - ./api:/api
      - /api/node_modules
    depends_on:
      - mysqldb
    networks:
      - webappnetwork

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  mysqldb:
    image: mysql:5.6
    container_name: mysql
    hostname: mysql
    ports:
     - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    networks:
     - webappnetwork

networks:
    webappnetwork:
        driver: bridge